
# ---------------------------------------------------------------------------- #
#                              VISUAL STUDIO CODE                              #
# ---------------------------------------------------------------------------- #

*.vscode/



# ---------------------------------------------------------------------------- #
#                                    GOLANG                                    #
# ---------------------------------------------------------------------------- #

go.work